.btn {
  vertical-align: middle;
  color: $color-white;
  line-height: 32px;
  border-radius: 0.6rem;

  & i {
    color: $color-white;
  }
}

.btn-l {
  padding: 1.2rem 2.075rem;
}

.btn-m {
  // padding: 0.6rem 1.7rem;
  padding: 1rem 3.75rem;
}

.btn-s {
  padding: 0.4rem 1.275rem;
}

.btn-primary {
  background-color: $color-primary;
  color: $color-white;
}

.btn-secondary {
  background-color: $color-gray-light;
  color: $color-text;
}

.btn-disabled {
  background-color: $color-gray-medium;
  color: $color-gray-dark;
  cursor: not-allowed;
}

.btn-default {
  background-color: $color-gray-dark;
  color: $color-white;
}

.btn-default:hover {
  background-color: $color-gray-dark;
  color: $color-white;
}

.btn-success {
  background-color: $color-green;
}

.btn-warning {
  background-color: $color-orange;
}

.btn-error {
  background-color: $color-red;
}

.btn-icon--left {
  // padding: 0.8rem 1.6rem 0.8rem 1.7rem;

  & i {
    color: $color-white;
    margin-right: 0.6rem;
  }
}

.btn-icon--right {
  // padding: 0.8rem 1.7rem 0.8rem 1.6rem;

  & i {
    text-align: right;
    color: $color-white;
    margin-left: 0.6rem;
  }
}

.btn-icon--only {
  text-align: center;

  & i {
    line-height: 24px;
    width: fit-content;
  }
}

.btn-border-outline-circle a,
.btn-border-solid-circle a {
  margin-left: 0;
}

.btn-border-solid-circle {
  margin-right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #252525;
  background-color: #a89999;
}

.btn-border-outline-circle {
  margin-right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #252525;
}

.button-light {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: 16px 30px 16px 30px;
  border-radius: 0.5rem;
  border: 1px solid rgba(129, 128, 128, 0.4);
  background-color: transparent;
}

.button-light:hover {
  background-color: $color-white;
  cursor: pointer;
  color: $color-orange;
}

.button-primary {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: 16px 30px 16px 30px;
  border-radius: 0.5rem;
  background-color: $color-gray-dark;
  color: $color-white;
}

.button-primary:hover {
  background-color: $color-gray-light;
  color: $color-gray-dark;
  cursor: pointer;
}

.button-secondary {
  font-size: 14px;
  line-height: 16px;
  padding: 16px 30px 16px 30px;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-white;
  color: $color-gray-dark;
}

.button-secondary:hover {
  background-color: $color-gray-dark;
  cursor: pointer;
  color: $color-white;
}

.button-tertiary {
  font-size: 14px;
  line-height: 16px;
  padding: 16px 30px 16px 30px;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: $color-primary;
  color: $color-white;
}

.button-tertiary:hover {
  background-color: $color-tertiary;
  cursor: pointer;
  color: $color-white;
}

.button-primary,
.button-secondary,
.button-tertiary {
  display: inline-block;
}
