html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: $MAIN-FONT;
}

* a {
  text-decoration: none;
}

* a:hover {
  color: $color-orange;
}
