.d-flex {
  display: flex;
}

@media screen and (min-width: 768px) {
  .d-grid {
    display: grid;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-circle-right,
.bg-circle-left {
  display: none;
}

.bg-color-sc {
  z-index: -1;
  background-color: #495d4d;
  width: 100%;
  height: 3000px;
  position: absolute;
  top: 128px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .bg-color-sc {
    height: 2800px;
  }
}

@media screen and (min-width: 992px) {
  .bg-color-sc {
    height: 1600px;
  }
}

.bg-color-sc-1 {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 4071px;
  left: 0px;
  top: 177px;
  background: #f9e5e1;
}

@media screen and (min-width: 576px) {
  .bg-color-sc-1 {
    height: 3853px;
  }
}

@media screen and (min-width: 768px) {
  .bg-color-sc-1 {
    height: 3040px;
  }
}

@media screen and (min-width: 992px) {
  .bg-color-sc-1 {
    height: 2332px;
  }
}

@media screen and (min-width: 1200px) {
  .bg-color-sc-1 {
    height: 2162px;
  }
  .bg-circle-left {
    display: block;
    position: absolute;
    z-index: 1;
    top: 315px;
    left: 0;
  }

  .bg-circle-right {
    display: block;
    position: absolute;
    z-index: 1;
    top: 928px;
    right: 0;
  }
}

.bg-solid-color {
  background-color: #fff;
}

.bg-color-1 {
  background-color: #f4d5af;
}

.bg-color-2 {
  background-color: #96be9e;
}

.bg-color-3 {
  background-color: #3f82d8;
}

.bg-color-4 {
  background-color: #a16e62;
}

.bg-none {
  background-color: transparent;
}

.margin-t {
  margin-top: 1rem;
}
.margin-b {
  margin-bottom: 2rem;
}
.margin-r {
  margin-right: 59px;
}

@media screen and (min-width: 992px) {
  .margin-b {
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.myfilter-1 {
  position: relative;
}

.myfilter-1:after {
  z-index: 3;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 300px;
  width: 100%;

  background: rgb(226, 179, 88);

  mix-blend-mode: overlay;
}

.myfilter-2 {
  position: relative;
}

.myfilter-2:after {
  z-index: 3;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 300px;
  width: 100%;

  background: rgb(63, 130, 216);

  mix-blend-mode: overlay;
}

.myfilter-3 {
  position: relative;
}

.myfilter-3:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 300px;
  width: 100%;

  background: rgb(161, 110, 98);

  mix-blend-mode: overlay;
}

.flickity-button {
  display: none;
}
/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  background: #fff0dd;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: #e2b358;
}

.mx-auto {
  margin: 0 auto;
}

.pad-0 {
  padding: 0 0;
}
