.mx-auto {
  margin: 0 auto;
}

.pad-0 {
  padding: 0 0;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

@media screen and (min-width: 768px) {
  .d-grid {
    display: grid;
  }
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.margin-t {
  margin-top: 1rem;
}
.margin-b {
  margin-bottom: 2rem;
}
.margin-r {
  margin-right: 59px;
}

@media screen and (min-width: 992px) {
  .margin-b {
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.myfilter-1 {
  position: relative;
}

.myfilter-1:after {
  z-index: 3;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 300px;
  width: 100%;

  background: $color-primary;

  mix-blend-mode: overlay;
}

.myfilter-2 {
  position: relative;
}

.myfilter-2:after {
  z-index: 3;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 300px;
  width: 100%;

  background: $color-secondary;

  mix-blend-mode: overlay;
}

.myfilter-3 {
  position: relative;
}

.myfilter-3:after {
  z-index: 3;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 300px;
  width: 100%;

  background: $color-tertiary;

  mix-blend-mode: overlay;
}

.flickity-button {
  display: none;
}
/* position dots in carousel */
.flickity-page-dots {
  bottom: 0px;
}
/* white circles */
.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  background: $color-primary-light;
}
/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: $color-primary;
}

.floating-1 {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  img {
    height: auto;
  }
}

.floating-2 {
  transform: translatey(0px);
  animation: float 7s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}

.floating-3 {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}

.floating-4 {
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}

.story-card:hover {
  .stories__content {
    transform: translatey(0px);
    animation: float 2s ease-in-out infinite;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.floating-5:hover {
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
  img {
    width: 100%;
    height: auto;
  }
}
