:placeholder-shown {
  font-family: $MAIN-FONT;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
  padding-top: 9px;
  padding-left: 24px;
}

input,
textarea {
  font-size: 1rem;
  font-family: $MAIN-FONT;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 2rem;
}
