// Colors
$color-primary: #176bfb;
$color-green: #3ca455;
$color-orange: #e67337;
$color-red: #c84040;
$color-text: #110f24;
$color-white: #fff;
$color-gray-dark: #6e6e6e;
$color-gray-medium: #ababad;
$color-gray-light: #cccccf;

// font
$MAIN-FONT: "Caladea", serif;
$HEAD-FONT: "Lato", sans-serif;
$FONT1: "Cabin", sans-serif;
$FONT3: "Imprima", sans-serif;
$FONT2: "Overlock", cursive;
