.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .d-grid {
    display: -ms-grid;
    display: grid;
  }
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-no-wrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.bg-solid-color {
  background-color: #fff;
}

.bg-color-1 {
  background-color: #f4d5af;
}

.bg-color-2 {
  background-color: #96be9e;
}

.bg-color-3 {
  background-color: #3f82d8;
}

.bg-color-4 {
  background-color: #a16e62;
}

.bg-none {
  background-color: transparent;
}

.margin-t {
  margin-top: 1rem;
}

.margin-b {
  margin-bottom: 2rem;
}

.margin-r {
  margin-right: 59px;
}

@media screen and (min-width: 992px) {
  .margin-b {
    margin-bottom: 0;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.h100 {
  height: 100%;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: "Caladea", serif;
}

* a {
  text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Caladea", serif;
}

.heading-1 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 700;
}

.heading-2 {
  font-size: 3.5rem;
  line-height: 4rem;
  font-weight: 700;
}

.heading-3 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
}

.heading-4 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.heading-5 {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
  color: #e2b358;
}

label {
  font-size: 0.75rem;
  line-height: 0.8625rem;
  font-weight: 700;
}

.text_big {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  color: #333333;
}

.text {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: #333333;
}

.text__gray {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.text__gray-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: rgba(51, 51, 51, 0.5);
}

.container {
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
}

.row .row {
  margin-left: -15px;
  margin-right: -15px;
}

.column {
  padding: 0 15px;
  width: 100%;
  margin-top: 30px;
}

.column-1 {
  width: calc(1 / 12 * 100%);
}

.column-2 {
  width: calc(2 / 12 * 100%);
}

.column-3 {
  width: calc(3 / 12 * 100%);
}

.column-4 {
  width: calc(4 / 12 * 100%);
}

.column-5 {
  width: calc(5 / 12 * 100%);
}

.column-6 {
  width: calc(6 / 12 * 100%);
}

.column-7 {
  width: calc(7 / 12 * 100%);
}

.column-8 {
  width: calc(8 / 12 * 100%);
}

.column-9 {
  width: calc(9 / 12 * 100%);
}

.column-10 {
  width: calc(10 / 12 * 100%);
}

.column-11 {
  width: calc(11 / 12 * 100%);
}

.column-12 {
  width: calc(12 / 12 * 100%);
}

@media screen and (min-width: 576px) {
  .column-sm-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-sm-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-sm-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-sm-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-sm-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-sm-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-sm-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-sm-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-sm-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-sm-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-sm-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-sm-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 768px) {
  .column-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-md-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 992px) {
  .column-lg-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-lg-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-lg-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-lg-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-lg-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-lg-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-lg-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-lg-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-lg-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-lg-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-lg-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-lg-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1200px) {
  .column-xl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xl-12 {
    width: calc(12 / 12 * 100%);
  }
}

@media screen and (min-width: 1400px) {
  .column-xxl-1 {
    width: calc(1 / 12 * 100%);
  }
  .column-xxl-2 {
    width: calc(2 / 12 * 100%);
  }
  .column-xxl-3 {
    width: calc(3 / 12 * 100%);
  }
  .column-xxl-4 {
    width: calc(4 / 12 * 100%);
  }
  .column-xxl-5 {
    width: calc(5 / 12 * 100%);
  }
  .column-xxl-6 {
    width: calc(6 / 12 * 100%);
  }
  .column-xxl-7 {
    width: calc(7 / 12 * 100%);
  }
  .column-xxl-8 {
    width: calc(8 / 12 * 100%);
  }
  .column-xxl-9 {
    width: calc(9 / 12 * 100%);
  }
  .column-xxl-10 {
    width: calc(10 / 12 * 100%);
  }
  .column-xxl-11 {
    width: calc(11 / 12 * 100%);
  }
  .column-xxl-12 {
    width: calc(12 / 12 * 100%);
  }
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0 15px;
}

header .container {
  margin-top: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  height: 48px;
  border: 3px solid #bdb05e;
  border-radius: 50%;
}

.nav-menu {
  display: none;
}

a {
  display: inline-block;
  color: #110f24;
}

a:hover {
  color: #6e6e6e;
}

@media screen and (min-width: 992px) {
  .nav-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-menu li:not(:last-child) {
    margin-right: 48px;
  }
}

.btn {
  vertical-align: middle;
  color: #fff;
  line-height: 32px;
  border-radius: 0.6rem;
}

.btn i {
  color: #fff;
}

.btn-l {
  padding: 1.2rem 2.075rem;
}

.btn-m {
  padding: 1rem 3.75rem;
}

.btn-s {
  padding: 0.4rem 1.275rem;
}

.btn-primary {
  background-color: #176bfb;
  color: #fff;
}

.btn-secondary {
  background-color: #cccccf;
  color: #110f24;
}

.btn-disabled {
  background-color: #ababad;
  color: #6e6e6e;
  cursor: not-allowed;
}

.btn-default {
  background-color: #333333;
  color: #fff;
}

.btn-default:hover {
  background-color: #6e6e6e;
  color: #fff;
}

.btn-success {
  background-color: #3ca455;
}

.btn-warning {
  background-color: #e67337;
}

.btn-error {
  background-color: #c84040;
}

.btn-icon--left i {
  color: #fff;
  margin-right: 0.6rem;
}

.btn-icon--right i {
  text-align: right;
  color: #fff;
  margin-left: 0.6rem;
}

.btn-icon--only {
  text-align: center;
}

.btn-icon--only i {
  line-height: 24px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-border-outline-circle a,
.btn-border-solid-circle a {
  margin-left: 0;
}

.btn-border-solid-circle {
  margin-right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #252525;
  background-color: #a89999;
}

.btn-border-outline-circle {
  margin-right: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #252525;
}

.button-light {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: 16px 30px 16px 30px;
  border-radius: 0.5rem;
  border: 1px solid rgba(129, 128, 128, 0.4);
  background-color: transparent;
}

.button-light a {
  color: #110f24;
}

.button-light:hover {
  background-color: #fff;
  cursor: pointer;
  color: #6e6e6e;
}

.button-primary {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  padding: auto 58px;
  width: 100%;
  max-width: 170px;
  height: 48px;
  border-radius: 0.5rem;
  background-color: #333333;
  color: #fff;
}

.button-primary:hover {
  background-color: #6e6e6e;
  color: #fff;
  cursor: pointer;
}

.button-secondary {
  font-family: Caladea;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding: auto 58px;
  width: 100%;
  max-width: 170px;
  height: 48px;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
  color: #333333;
}

.button-secondary:hover {
  background-color: #333333;
  cursor: pointer;
  color: #fff;
}

.button-tertiary {
  font-family: Caladea;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  padding: auto 58px;
  width: 100%;
  max-width: 170px;
  height: 48px;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #e2b358;
  color: #fff;
}

.button-tertiary:hover {
  background-color: #e2a52c;
  cursor: pointer;
  color: #fff;
}

input,
textarea {
  outline: 0;
}

#section-1 {
  margin-bottom: 126px;
  z-index: 5;
}

#section-1 .column:first-of-type {
  padding-top: 150px;
  padding-bottom: 75px;
}

#section-1 .column:last-of-type {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  #section-1 .img-hero {
    max-width: 570px;
  }
}

@media screen and (min-width: 992px) {
  #section-1 {
    padding-top: 4.25rem;
    height: 100vh;
  }
  #section-1 .column:first-of-type {
    padding-top: 0;
  }
}

#section-1 .row,
#section-5 .row {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section-1 .hero__subtitle-description,
#section-1 .hero__title-description,
#section-1 .about__subtitle-description,
#section-1 .about__title-description,
#section-5 .hero__subtitle-description,
#section-5 .hero__title-description,
#section-5 .about__subtitle-description,
#section-5 .about__title-description {
  margin-bottom: 1.5rem;
}

#section-1 .hero__subtitle-description,
#section-1 .about__subtitle-description,
#section-5 .hero__subtitle-description,
#section-5 .about__subtitle-description {
  margin-bottom: 2.125rem;
}

#section-1 .bg-hero,
#section-5 .bg-hero {
  background-color: #fff0dd;
  width: 50vw;
  height: 150%;
  bottom: 0;
  left: calc(50%);
  border-bottom-left-radius: 100px;
  z-index: -1;
}

@media screen and (min-width: 992px) {
  #section-1 .bg-hero,
  #section-5 .bg-hero {
    width: 100%;
    right: 0;
  }
}

.img-hero {
  margin: 0 auto;
  width: 100%;
  max-width: 330px;
}

#section-2 {
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 154px;
}

#section-2 .img-bg-shape {
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: 3;
}

#section-2 .sc-2__card {
  margin: 0 auto;
  max-width: 329px;
  position: relative;
  padding: 48px;
  background-color: #fff;
  border-radius: 1rem;
  z-index: 2;
  overflow: hidden;
}

#section-2 .sc-2__card .card__shape {
  position: absolute;
  top: 19px;
  left: 29px;
  z-index: 4;
}

#section-2 .sc-2__card .card__title {
  line-height: 2rem;
  margin-bottom: 51px;
}

#section-2 .sc-2__card .card__description {
  color: rgba(51, 51, 51, 0.5);
  margin-bottom: 23px;
  max-height: 105px;
  line-height: 2rem;
  line-clamp: 3;
}

#section-2 .sc-2__card a {
  color: #333333;
  line-height: 2rem;
}

#section-2 .sc-2__card a:hover {
  color: #6e6e6e;
}

@media screen and (min-width: 576px) {
  #section-2 .sc-2__card .sc-2__card {
    max-width: 370px;
  }
}

#section-3 .column {
  padding: 0 0;
  margin-bottom: 10.625rem;
}

#section-3 .service__heading {
  margin-bottom: 4.5rem;
}

#section-3 .service__head {
  margin-bottom: 1.25rem;
}

#section-3 .service__title-description {
  margin-bottom: 1.75rem;
}

#section-3 .service__subtitle-description {
  max-width: 570px;
  min-height: 78px;
  width: 100%;
  margin: 0 auto;
}

#section-3 .services__content-cards {
  padding: auto 23px;
  width: 100%;
}

#section-3 .service-card {
  margin: 0 auto;
  max-width: 330px;
  width: 100%;
  height: 352px;
  margin-bottom: 32px;
}

#section-3 .service-card .service-img {
  height: 100%;
  max-height: 352px;
}

#section-3 .service-card .service-text {
  left: 28px;
  bottom: 32px;
}

#section-3 .service-card {
  border-radius: 1rem;
}

#section-3 .service-card .heading-3 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #333333;
}

#section-3 .service-card .heading-4 {
  color: #fff;
}

#section-3 .service-card .service-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#section-3 .service-card .image-1 {
  background-image: url(/assets/img/service-corporate-card.png);
}

#section-3 .service-card .image-2 {
  background-image: url(/assets/img/service-data-privacy-card.png);
}

#section-3 .service-card .image-3 {
  background-image: url(/assets/img/service-employment-card.png);
}

#section-3 .service-card .image-4 {
  background-image: url(/assets/img/service-intellectual-card.png);
}

@media screen and (min-width: 768px) {
  #section-3 .services__content-cards :nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  #section-3 .services__content-cards :nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #section-3 .services__content-cards :nth-child(3) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  #section-3 .services__content-cards :nth-child(4) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media screen and (min-width: 1200px) {
  #section-3 .service-card {
    max-width: none;
    height: 100%;
  }
  #section-3 .service-card .heading-3 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
  }
  #section-3 .service-card .service-img {
    max-height: none;
  }
  #section-3 .service-card .service-img .image-2 {
    background-image: url(/assets/img/service-data-privacy-card-1.png);
  }
  #section-3 .services__content-cards {
    margin: 0 auto;
    overflow: hidden;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(290px, -webkit-max-content);
    grid-auto-rows: minmax(290px, max-content);
    gap: 30px;
  }
  #section-3 .services__content-cards > .service-card {
    border-radius: 1rem;
  }
  #section-3 .services__content-cards > .service-card .service-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #section-3 .services__content-cards > .service-card .image-1 {
    background-image: url(/assets/img/service-corporate-card.png);
  }
  #section-3 .services__content-cards > .service-card .image-2 {
    background-image: url(/assets/img/service-data-privacy-card-1.png);
  }
  #section-3 .services__content-cards > .service-card .image-3 {
    background-image: url(/assets/img/service-employment-card.png);
  }
  #section-3 .services__content-cards > .service-card .image-4 {
    background-image: url(/assets/img/service-intellectual-card.png);
  }
  #section-3 .services__content-cards :nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  #section-3 .services__content-cards :nth-child(2) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #section-3 .services__content-cards :nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #section-3 .services__content-cards :nth-child(4) {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

#section-4 {
  margin-left: 23px;
  margin-right: 23px;
}

@media screen and (min-width: 576px) {
  #section-4 .heading-3 {
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 700;
  }
}

#section-4 .clients__sub-heading {
  margin-bottom: 1.25rem;
}

#section-4 .clients__heading {
  margin-bottom: 4.375rem;
}

#section-4 .clients__company {
  margin-bottom: 3.0625rem;
}

#section-4 .clients__btn {
  margin-bottom: 10rem;
}

#section-5 {
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 14.0625rem;
}

#section-5 .about__company__name {
  padding-top: 60px;
}

#section-5 .about__image {
  max-width: 325px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 992px) {
  #section-5 .about__company__name {
    padding-top: 236px;
  }
  #section-5 .column {
    position: relative;
  }
  #section-5 .about__btn {
    margin-bottom: 48px;
  }
  #section-5 .about__image {
    max-width: 570px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #section-5 .about__subtitle-description {
    max-width: 470px;
  }
}

#section-6 {
  margin-right: 23px;
  margin-left: 23px;
  margin-bottom: 122px;
}

#section-6 .bg-color-3 {
  border-radius: 1.5rem;
}

#section-6 .heading-2 {
  color: #fff;
}

#section-6 .text_big {
  color: white;
}

#section-6 .container {
  padding: 78px 92px;
}

#section-6 .column {
  margin-bottom: 68px;
}

@media screen and (min-width: 992px) {
  #section-6 .container {
    padding: 70px 160px;
    max-height: 240px;
  }
}

#section-7 {
  margin-right: 23px;
  margin-left: 23px;
}

#section-7 .row {
  margin-bottom: 176px;
}

#section-7 .stories-slider {
  margin-bottom: 144px;
}

#section-7 .column:nth-of-type(2) .text-center {
  text-align: left;
}

#section-7 .column:nth-of-type(3) {
  display: none;
}

#section-7 .stories__heading {
  margin-bottom: 1.25rem;
}

#section-7 .stories__title-description {
  margin-bottom: 1.75rem;
}

#section-7 .stories__subtitle-description {
  margin-bottom: 3.5rem;
}

#section-7 .stories__image {
  z-index: 1;
  max-width: 300px;
}

#section-7 .stories__content {
  z-index: 3;
  background-color: #fff;
  top: 256px;
  left: 51px;
  padding: 42px 28px 48px 48px;
  border-radius: 1rem;
  box-shadow: 8px 11px 15px -1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 8px 11px 15px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 8px 11px 15px -1px rgba(0, 0, 0, 0.41);
}

#section-7 .stories__content .stories__content-title {
  margin-bottom: 6px;
}

#section-7 .stories__content .stories__content-subtitle {
  max-width: 313px;
}

@media screen and (min-width: 576px) {
  #section-7 .column:nth-of-type(2) .text-center {
    text-align: left;
  }
  #section-7 .relative {
    margin-left: 23px;
    margin-right: 23px;
  }
  #section-7 .stories__image {
    z-index: 1;
    max-width: 470px;
  }
  #section-7 .stories__content {
    top: 400px;
    left: 48px;
    padding: 56px 122px 42px 48px;
  }
  #section-7 .stories__subtitle-description {
    margin-left: auto;
    margin-right: auto;
    max-width: 570px;
  }
}

@media screen and (min-width: 992px) {
  #section-7 .column:nth-of-type(3) {
    display: block;
  }
}

#section-8 {
  margin-left: 23px;
  margin-right: 23px;
}

#section-8 .testimonials-image {
  max-width: 330px;
  margin-bottom: 3.1875rem;
}

#section-8 .testimonials__heading {
  margin-bottom: 1.1rem;
}

#section-8 .testimonials__title-description {
  margin-bottom: 1.9rem;
}

#section-8 .testimonials__subtitle-description {
  margin-bottom: 2rem;
}

#section-8 .testimonials__profile {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 128px;
}

#section-8 .testimonials__profile-picture {
  margin-right: 1.25rem;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

#section-8 .testimonials__profile-name {
  margin-bottom: 0.125rem;
}

@media screen and (min-width: 992px) {
  #section-8 .testimonials-div {
    margin-left: 45px;
  }
  #section-8 .testimonials-image {
    max-width: 570px;
  }
  #section-8 .testimonials__heading {
    max-width: 331px;
    margin-top: 2.625rem;
    margin-bottom: 1.25rem;
  }
  #section-8 .testimonials__title-description {
    margin-bottom: 1.75rem;
  }
  #section-8 .testimonials__subtitle-description {
    color: #333333;
    margin-bottom: 2.1875rem;
  }
  #section-8 .testimonials__profile-social {
    color: #33333380;
  }
}

#section-9 {
  padding-left: 23px;
  padding-right: 23px;
  margin-bottom: 154px;
}

#section-9 .container {
  box-shadow: 3px 2px 22px 2px black;
  -webkit-box-shadow: 3px 2px 22px 2px black;
  -moz-box-shadow: 3px 2px 22px 2px black;
  border-radius: 1rem;
}

#section-9 input,
#section-9 textarea {
  display: block;
  width: 100%;
  height: 48px;
  padding: 7px 7px 9px 24px;
  border: 1px solid #dadada;
  border-radius: 0.5rem;
}

#section-9 .bg-color-1 {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#section-9 .bg-color-2 {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#section-9 .consultation-form {
  padding-top: 3.5rem;
  padding-bottom: 4rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

#section-9 .consultation__head {
  margin-bottom: 1.1875rem;
}

#section-9 .consultation__sub-head {
  margin-bottom: 1.75rem;
}

#section-9 .consultation__contact {
  padding-top: 4.75rem;
  padding-bottom: 5.3125rem;
}

#section-9 .consultation__news-letter {
  padding-top: 3.5rem;
  padding-bottom: 4rem;
}

#section-9 .consultation__news-letter .d-flex {
  display: block;
}

#section-9 .consultation-form,
#section-9 .consultation__contact-information-mobile,
#section-9 .consultation__contact-information-mail,
#section-9 .consultation__news-letter {
  padding-left: 28px;
  padding-right: 28px;
}

#section-9 .consultation-form .consultation-name,
#section-9 .consultation__contact-information-mobile .consultation-name,
#section-9 .consultation__contact-information-mail .consultation-name,
#section-9 .consultation__news-letter .consultation-name {
  margin-bottom: 1.0625rem;
}

#section-9 .consultation-form .consultation-email,
#section-9 .consultation__contact-information-mobile .consultation-email,
#section-9 .consultation__contact-information-mail .consultation-email,
#section-9 .consultation__news-letter .consultation-email {
  margin-bottom: 1rem;
}

#section-9 .consultation-form textarea,
#section-9 .consultation__contact-information-mobile textarea,
#section-9 .consultation__contact-information-mail textarea,
#section-9 .consultation__news-letter textarea {
  margin-bottom: 1rem;
  height: 96px;
}

#section-9 .consultation-form .icon,
#section-9 .consultation__contact-information-mobile .icon,
#section-9 .consultation__contact-information-mail .icon,
#section-9 .consultation__news-letter .icon {
  margin-right: 1rem;
}

#section-9 .consultation-form .shape,
#section-9 .consultation__contact-information-mobile .shape,
#section-9 .consultation__contact-information-mail .shape,
#section-9 .consultation__news-letter .shape {
  padding: 12px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #333333;
  -o-object-fit: contain;
     object-fit: contain;
}

#section-9 .consultation-form .consultation-information-mobile,
#section-9 .consultation__contact-information-mobile .consultation-information-mobile,
#section-9 .consultation__contact-information-mail .consultation-information-mobile,
#section-9 .consultation__news-letter .consultation-information-mobile {
  margin-bottom: 2.5rem;
}

#section-9 .consultation-form .consultation-information-mobile .consultation__phone-number,
#section-9 .consultation__contact-information-mobile .consultation-information-mobile .consultation__phone-number,
#section-9 .consultation__contact-information-mail .consultation-information-mobile .consultation__phone-number,
#section-9 .consultation__news-letter .consultation-information-mobile .consultation__phone-number {
  margin-bottom: 1.1875rem;
}

#section-9 .consultation-form .consultation__contact-information-mail,
#section-9 .consultation__contact-information-mobile .consultation__contact-information-mail,
#section-9 .consultation__contact-information-mail .consultation__contact-information-mail,
#section-9 .consultation__news-letter .consultation__contact-information-mail {
  margin-bottom: 5.3125rem;
}

#section-9 .consultation-form .consultation__contact-information-mail .consultation__email,
#section-9 .consultation__contact-information-mobile .consultation__contact-information-mail .consultation__email,
#section-9 .consultation__contact-information-mail .consultation__contact-information-mail .consultation__email,
#section-9 .consultation__news-letter .consultation__contact-information-mail .consultation__email {
  margin-bottom: 1px;
}

#section-9 .consultation-form .consultation__newsletter-head,
#section-9 .consultation__contact-information-mobile .consultation__newsletter-head,
#section-9 .consultation__contact-information-mail .consultation__newsletter-head,
#section-9 .consultation__news-letter .consultation__newsletter-head {
  color: #fff;
  margin-bottom: 1.75rem;
}

#section-9 .consultation-form .consultation__news-letter,
#section-9 .consultation__contact-information-mobile .consultation__news-letter,
#section-9 .consultation__contact-information-mail .consultation__news-letter,
#section-9 .consultation__news-letter .consultation__news-letter {
  margin-bottom: 1.75rem;
}

#section-9 .consultation-form .newsletter-email,
#section-9 .consultation__contact-information-mobile .newsletter-email,
#section-9 .consultation__contact-information-mail .newsletter-email,
#section-9 .consultation__news-letter .newsletter-email {
  width: 100%;
}

#section-9 .consultation-form .newsletter-btn,
#section-9 .consultation__contact-information-mobile .newsletter-btn,
#section-9 .consultation__contact-information-mail .newsletter-btn,
#section-9 .consultation__news-letter .newsletter-btn {
  padding: 1rem 2.0625rem 1rem 2.0625rem;
}

@media screen and (min-width: 1200px) {
  #section-9 .heading-4 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
  }
  #section-9 .container {
    border-radius: 1rem;
  }
  #section-9 .bg-color-1 {
    border-top-left-radius: 0;
    border-top-right-radius: 1rem;
  }
  #section-9 .bg-color-2 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 1rem;
  }
  #section-9 .bg-solid-color {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  #section-9 .consultation-form {
    padding-top: 4.6875rem;
    padding-bottom: 80px;
  }
  #section-9 .consultation__sub-head {
    margin-bottom: 2.3125rem;
  }
  #section-9 .consultation-name {
    margin-bottom: 1.0625rem;
  }
  #section-9 .consultation-email {
    margin-bottom: 1rem;
  }
  #section-9 textarea {
    margin-bottom: 1rem;
    height: 96px;
  }
  #section-9 .consultation-form,
  #section-9 .consultation__contact-information-mobile,
  #section-9 .consultation__contact-information-mail,
  #section-9 .consultation__news-letter {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  #section-9 .consultation-information-mobile {
    margin-bottom: 1.5rem;
  }
  #section-9 .consultation-information-mobile .consultation__phone-number {
    margin-bottom: 1.1875rem;
  }
  #section-9 .newsletter-email {
    max-width: 302px;
    margin-right: 1.1rem;
  }
  #section-9 .consultation__contact {
    padding-top: 4.6875rem;
    padding-bottom: 4.25rem;
  }
  #section-9 .consultation-btn {
    display: block;
    width: 170px;
  }
  #section-9 .consultation__news-letter .form {
    height: 48px;
  }
  #section-9 .consultation__news-letter .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #section-9 .newsletter-btn {
    line-height: 16.1px;
    text-align: center;
    padding: 1rem 2.0625rem 1rem 2.0625rem;
    width: 138px;
  }
}

#section-10 {
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 128px;
}

#section-10 .blog__heading {
  margin-bottom: 17px;
}

#section-10 .blog__title-description {
  margin-bottom: 15px;
}

#section-10 .blog__subtitle-description {
  margin-bottom: 64px;
}

#section-10 .blog__card {
  box-shadow: 3px 2px 22px 2px black;
  -webkit-box-shadow: 3px 2px 22px 2px black;
  -moz-box-shadow: 3px 2px 22px 2px black;
  overflow-x: hidden;
  border-radius: 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 330px;
  margin-bottom: 64px;
}

#section-10 .blog__card img {
  -o-object-fit: cover;
     object-fit: cover;
}

#section-10 .blog__card .blog__content {
  padding: 18px 32px;
}

@media screen and (min-width: 992px) {
  #section-10 .blog__heading {
    margin-bottom: 20px;
  }
  #section-10 .blog__title-description {
    margin-bottom: 28px;
  }
  #section-10 .blog__subtitle-description {
    margin-bottom: 76px;
  }
  #section-10 .blog__card {
    margin-bottom: 80px;
    max-width: 370px;
  }
}

footer {
  padding-left: 23px;
  padding-right: 23px;
  background-color: #333333;
}

footer .d-flex {
  display: block;
}

footer .copyright-container {
  width: 100%;
  border-top: 1px solid black;
  margin-top: 69px;
}

footer .logo {
  margin-top: 90px;
  margin-bottom: 21px;
}

footer .footer-logo {
  border: 1px solid #fff;
  border-radius: 50%;
  width: 48px;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 74px;
}

footer .icons .footer-social-icon {
  width: 48px;
  height: 48px;
  background-color: #495d4d;
  border-radius: 50%;
  margin-right: 8px;
}

footer .icons .social-icon {
  padding: 1rem;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
}

footer ul {
  display: block;
  margin-bottom: 63px;
}

footer li a,
footer li,
footer .terms a {
  color: #fff;
}

footer a:hover {
  color: #6e6e6e;
}

@media screen and (min-width: 768px) {
  footer .d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .column-md-6:nth-of-type(2) {
    margin-top: 90px;
  }
}

@media screen and (min-width: 992px) {
  footer .container {
    padding-top: 90px;
    padding-bottom: 53px;
  }
  footer .column-md-6:nth-of-type(2) {
    margin-top: 0;
  }
  footer .logo {
    margin-top: 0;
    margin-bottom: 21px;
  }
  footer .icons {
    margin-bottom: 1.3125rem;
  }
  footer .heading-5 {
    margin-bottom: 17px;
  }
  footer .margin-b {
    margin-bottom: 62px;
  }
  footer .margin-t {
    margin-top: 42px;
  }
}
/*# sourceMappingURL=main.css.map */