header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0 15px;

  .container {
    margin-top: 1rem;
    align-items: center;
  }

  .nav-menu,
  a {
    display: none;
    color: $color-text;
  }

  a:hover {
    color: $color-gray-dark;
  }

  .header-logo {
    width: 156px;
    height: 56px;
  }

  @media screen and (min-width: 768px) {
    .nav-menu {
      display: flex;

      li:not(:last-child) {
        margin-right: 48px;
      }
    }
    a {
      display: inline-block;
    }
  }
}
