header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  padding: 0 15px;
  a {
    color: $color-text;
  }
}

.container {
  margin-top: 1rem;
  align-items: center;
}

.nav-menu,
.header-btn {
  display: none;
}

.ham-btn:checked {
  .nav-menu {
    display: block;
  }
}
.menu {
  .nav-menu__link:hover {
    color: $color-orange;
  }
}

.header-logo {
  width: 156px;
  height: 56px;
}

.header-logo-dropdown {
  width: 156px;
  height: 156px;
}

@media screen and (min-width: 768px) {
  .ham-btn {
    display: none;
  }
  .nav-menu {
    display: flex;

    li:not(:last-child) {
      margin-right: 48px;
    }
  }
  .header-btn,
  a {
    display: inline-block;
  }
}
